[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
numpy = "*"
scikit-image = "*"
scipy = "*"
rawpy = "*"
imageio = "*"
matplotlib = "*"
notebook = "*"
imagecodecs = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
